*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: a;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(https://i.pinimg.com/736x/11/c3/f3/11c3f3129f6651b3991c79e0703f9f08.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: -140px;
    padding: 0 10px;
}
.wrapper{
    border-radius: 20px;
    padding: 35px 40px;
    background-color: #141414;
}
/* header  */
.wrapper header{
    color: #b2b2b2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h2{
    font-size: 1.5rem;
}
header h2 span{
    text-transform: uppercase;
}
header .column{
    display: flex;
    align-items: center;
}
header .column span{
    font-weight: 500;
    font-size: 1.19rem;
    margin-right: 15px;
}
.volume-slider input{
    outline: none;
    accent-color: #fff;
}
.keys-checkbox input{
    width: 60px;
    border-radius: 30px;
    cursor: pointer;
    appearance: none;
    height: 30px;
    background-color: #4b4b4b;
    position: relative;
}
.keys-checkbox input::before{
    content: "";
    position: absolute;
    background-color: #8c8c8c;
    height: 20px;
    width: 20px;
    border-radius: inherit;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.keys-checkbox input:checked::before{
     left: 35px;
     background-color: #fff;

}
/* keys  */
.piano-keys {
    display: flex;
    margin-top: 40px;
}


.piano-keys .key{
    list-style: none;
    color: #a2a2a2;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    user-select: none;
}
/* white keys  */
.piano-keys .white{
    width: 70px;
    height: 230px;
    border-radius: 8px;
    background: linear-gradient(#fff 96%, #eee 4%);
    border: 1px solid #000;
    
}
.piano-keys .white.active{
    box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom,#fff 0%, #eee 4%);
}
/* black keys  */
.piano-keys .black{
    width: 44px;
    height: 140px;
    z-index: 2;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333, #000);
    margin: 0 -22px 0 -22px;
    border: 1px solid #000;

}
.piano-keys .black.active{
    box-shadow: inset -5px 5px 20px rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom,#000 , #434343 );
}
.piano-keys span{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.13rem;
}
.piano-keys .key.hide span{
    display: none;
}


@media screen and (max-width:815px) {
    body{
        background-image: none;
    }
    .wrapper{
        padding: 25px;
    }
    header{
        flex-direction: column;
    }
    header :where(h2, .column){
        margin-bottom: 13px;
    }
    .volume-slider input {
        max-width: 100px;
    }
    .piano-keys{
        margin-top: 20px;
    }
    .piano-keys .key:where(:nth-child(9), :nth-child(10)){
        display: none;
    }
    .piano-keys .black{
        height: 100px;
        width: 40px;
        margin: 0 -20px 0 -20px;
    }
    .piano-keys .white{
        height: 180px;
        width: 60px;
    }
}


@media screen and (max-width:615px) {
    .piano-keys .key:nth-child(13),
    .piano-keys .key:nth-child(14),
    .piano-keys .key:nth-child(15),
    .piano-keys .key:nth-child(16),
    .piano-keys .key:nth-child(17){
        display: none;
    }
    .piano-keys .white{
        width: 50px;
    }
    body{
        background-image: none;
    }

    
}
